<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Argu" version="2.1" targetFramework="net461" />
  <package id="Chessie" version="0.5.1" targetFramework="net452" />
  <package id="ClearScript.V8" version="5.4.5" targetFramework="net452" />
  <package id="Dynamitey" version="1.0.2.0" targetFramework="net452" />
  <package id="FAKE.Lib" version="4.25.4" targetFramework="net461" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net452" />
  <package id="FSharp.Interop.Dynamic" version="3.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="Suave" version="1.1.2" targetFramework="net461" />
  <package id="WebMarkupMin.Core" version="1.1.0" targetFramework="net461" />
  <package id="YamlDotNet" version="3.8.0" targetFramework="net461" />
</packages>